button:focus {
  outline: none;
}


hr {
  color: black; /* Цвет линии для остальных браузеров */
  height: 1px; /* Толщина линии */
}

label {
  display: block;
  text-align: center;
}

.hide {
  margin-top: 35px;
  margin: auto;
  border: 1px solid black;
  display: block;
  font-size: 12pt;
  border-radius: 3px;
  cursor: pointer;
}

select {
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  width: 80%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

#input_key_label {
  text-align: center;
}

#random, #copy {
  width: 42px;
  background: wheat;
  border: 1px solid black;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inside;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

#input_key {
  width: 40%;
  padding: 12px 20px;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.task_amount {
  width: 20px;
}

select {
  width: 80%;
  padding: 10px 32px;
  border: 1px solid #ccc;
  background: darl;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-left: 35px;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#test {
  width: 80%;
  margin-left: 35px;
  background:wheat;
  border: 1px solid black;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.test-ready {
  width: 150px;
  background: rgb(61, 137, 77);
  border: 1px solid black;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

#generate {
  width: 80%;
  margin-left: 35px;
  background: wheat;
  border: 1px solid black;
  color: black;
  padding: 10px 32px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

#showall {
  width: 80%;
  padding: 10px 32px;
  border-radius: 3px;
  border: 1px solid black;
  background: lightblue;
  cursor: pointer;
}

#hideall {
  width: 80%;
  padding: 10px 32px;
  border: 1px solid black;
  background: lightblue;
  border-radius: 3px;
  cursor: pointer;
}

#pdf {
  width: 80%;
  padding: 10px 32px;
  border: 1px solid black;
  border-radius: 3px;
  background: lightblue;
  cursor: pointer;
}

body {
  background: #FFFFFF;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*input[type=password] {
    font-size: px;
}*/

a:visited {
  color: #0000FF;
}

#taskoptions {
  width: auto;
  height: auto;
  background-color:gray;
  border: #000000;
  border-radius: 2px;
}

#utils {
  width: auto;
  height: auto;
  border: #000000;
  border-radius: 2px;
  padding-left: 50px;
  padding-top: 30px;
} 
.amount {
  margin-bottom: 10px;
}

#seed {
  width: 56px;
  text-align: center;
}

#leftwindow {
  height: 100%;
  width: 350px;
  top: 0;
  left: 0;
  position: fixed;
  background: darkslategray;
  font-size: 17pt;
  /*box-shadow: 0.000005px 0px 20px 2px #AAA;*/
}

#rightwindow {
  padding-top: 10px;
  position: relative;
  margin-left: 350px;
  padding-left: 30px;
  width: calc(100% - 400px);
  padding-bottom: 30px;
  font-size: 14pt;
}

